<!-- Services-->

<section class="page-section" id="services">
<div class="container">
    <div class="row">
        <div class="col-12 m-4">
            <h2> Dernières réalisations</h2>
            <p class="mb-2 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>

        <div class="row p-4">
            <div class="col-12">
                <div class="card card-row shadow mb-4 rounded" data-aos="fade-right">
                    <div class="row gx-0">
                        <a href="" class="col-12 col-md-6 bg-cover card-img-start aos-init aos-animate">
                            <img src="{{ asset('build/images/peinture.jpg') }}"  width="450px" height="250px">
                        </a>
                        <div class="col-12 col-md-6 mt-2">
                            <a href="" class="card-body text-decoration-none"> <h3>Titre de la peinture </h3> </a>
                            <p class="mb-0 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta similique voluptate repudiandae voluptatem autem, earum, incidunt culpa minus, nostrum suscipit hic illum totam nesciunt delectus laborum odio dolor excepturi ratione.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
        <div class="row p-4">
            <div class="col-12">
                <div class="card card-row shadow mb-4 rounded" data-aos="fade-right">
                    <div class="row gx-0">
                        <a href="" class="col-12 col-md-6 bg-cover card-img-start aos-init aos-animate">
                            <img src="{{ asset('build/images/peinture.jpg') }}"  width="450px" height="250px">
                        </a>

                        <div class="col-12 col-md-6 mt-2">
                            <a href="" class="card-body text-decoration-none"> <h3>Titre de la peinture </h3> </a>
                            <p class="mb-0 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta similique voluptate repudiandae voluptatem autem, earum, incidunt culpa minus, nostrum suscipit hic illum totam nesciunt delectus laborum odio dolor excepturi ratione.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row p-4">
            <div class="col-12">
                <div class="card card-row shadow mb-6" data-aos="fade-right">
                    <div class="row gx-0">
                        <a href="" class="col-12 col-md-6 bg-cover card-img-start aos-init aos-animate">
                            <img src="{{ asset('build/images/peinture.jpg') }}"  width="450px" height="250px">
                        </a>
                        <div class="col-12 col-md-6 mt-2">
                            <a href="" class="card-body text-decoration-none"> <h3>Titre de la peinture </h3> </a>
                            <p class="mb-0 text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta similique voluptate repudiandae voluptatem autem, earum, incidunt culpa minus, nostrum suscipit hic illum totam nesciunt delectus laborum odio dolor excepturi ratione.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>